<!doctype html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdn.tailwindcss.com"></script>
      <style>
        .bg-gradient-to-tl {
            background: radial-gradient(circle at top left,transparent 25%,#4f46e4 25.5%, #4f46e4 36%, transparent 37%, transparent 100%),radial-gradient(circle at bottom right,transparent 34%,#4f46e4 34.5%, #4f46e4 45.5%, transparent 46%, transparent 100%);
            background-size: 6em 6em;
            opacity: 1
        }
        
      </style>
   </head>
   <body class="min-h-screen flex items-center justify-center" style="background: #edf2f7;">
      <div class="min-h-screen bg-gradient-to-tl from-purple-400 to-indigo-900 w-full py-1 px-4">
        <!-- Terms And Conditions -->
        <div id="static-modal" data-modal-backdrop="static" tabindex="-1" class="overflow-auto flex items-center justify-center fixed top-0 right-0 bottom-0 left-0">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Terms And Conditions header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-purple-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Privacy Policy
                        </h3>
                    </div>
                    <!-- Terms And Conditions Information -->
                    <div class="p-4 md:p-5 space-y-4 overflow-y-auto h-60">
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            Welcome to Socialink! This Privacy Policy explains how we collect, use, disclose, and protect your personal information when you use our platform.
                        </p>
                        <h6 class="font-semibold text-gray-900 dark:text-white">
                            Informations We Collect:
                        </h6>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            1. Account Information: When you create an account on Socialink, we collect your username, email address, and password. Additionally, when you connect your social media accounts, we collect all your account informations.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            2. Profile Information: You may choose to provide additional information to personalize your profile, such as a profile picture and bio.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            3. Social Media Data: When you connect your social media accounts with Socialink, we collect all the datas from these accounts, including your posts, messages, friends/followers, and other interactions.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            4. Usage Data: We collect information about how you interact with our platform, including the content you view, post, or engage with, and your interactions with other users.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            5. Device Information: We automatically collect device information, such as your IP address, browser type, and operating system.
                        </p>
                        <h6 class="font-semibold text-gray-900 dark:text-white">
                            How We Use Your Information:
                        </h6>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            1. We use the information we collect to provide, maintain, and improve our platform, including personalizing your experience and delivering relevant content.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            2. We use access tokens to securely access and retrieve data from your connected social media accounts.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            3. We may use your email address to send you important updates, notifications, or promotional materials.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            4. We may use aggregated or anonymized data for analytical purposes or to improve our services.
                        </p>
                    </div>
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-purple-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Terms And Conditions
                        </h3>
                    </div>
                    <!-- Terms And Conditions Information -->
                    <div class="p-4 md:p-5 space-y-4 overflow-y-auto h-60">
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            Welcome to Socialink! By accessing or using our platform, you agree to be bound by these terms and conditions. Please read them carefully.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            1. Acceptance of Terms: By using Socialink, you agree to abide by these terms and conditions. If you do not agree with any part of these terms, you may not access or use the platform.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            2. User Eligibility: You must be at least 13 years old to use Socialink. By accessing the platform, you confirm that you meet this requirement.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            3. Privacy Policy: Our privacy policy explains how we collect, use, and protect your personal information. By using Socialink, you agree to our privacy policy.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            4. User Conduct: You agree to use Socialink responsibly and to comply with all applicable laws and regulations. You may not use the platform to harass, abuse, or harm others.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            5. Account Security: You are responsible for keeping your Socialink account secure. You may not share your password or login information with others.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            6. Content Guidelines: You are solely responsible for the content you post on Socialink and agree not to upload any offensive, harmful, or illegal content.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            7. Intellectual Property: You retain ownership of the content you post on Socialink. By posting content, you grant us a non-exclusive, royalty-free license to use, modify, and distribute it.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            8. Third-Party Links: Socialink may contain links to third-party websites or content. We are not responsible for the content or privacy practices of these sites.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            9. Limitation of Liability: We are not liable for any damages or losses incurred while using Socialink, including but not limited to direct, indirect, or consequential damages.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            10. Termination: We may terminate or suspend your account if you violate these terms and conditions or for any other reason.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            11. Changes to Terms: We may update these terms and conditions at any time. If we make changes, we will notify you by email or by posting a notice on the platform.
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            12. Contact Us: If you have any questions about these terms and conditions, please contact us at
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            13. Effective Date: These terms and conditions were last updated on March 12, 2024.
                        </p>
                    </div>
                    <!-- Terms And Conditions Form -->
                    <form method="POST" action="{% url 'termsAndconditions' %}">
                        {% csrf_token %}
                        <!-- Terms And Conditions buttons -->
                        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-purple-600">
                            <button data-modal-hide="static-modal" type="submit" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">I accept</button>
                            <a href="{% url 'signOut' %}" data-modal-hide="static-modal" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

      </div>
   </body>
</html>